@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* 
    clear root settings and create my own
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", 'Sans Serif Collection';
}

html {
    scroll-behavior: smooth;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #00B7FF;
}
